@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Libre+Franklin:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* CSS Variables */

:root {
  --ff-heading: "Libre Franklin", sans-serif;
  --ff-body: "Inter", sans-serif;

  --clr-indigo-dye: #143d66;
  --clr-poppy: #d93732;

  --clr-blk-900: #050100;
  --clr-blk-800: #1b1212;
  --clr-blk-600: #28282b;

  --clr-white: #fcfcfc;

  --clr-bg-linear: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(20, 61, 102, 0.05) 100%
  );
  --clr-bg-linear-revert: linear-gradient(
    180deg,
    rgba(20, 61, 102, 0.05) 0%,
    rgba(255, 255, 255, 1) 100%
  );

  --fs-900: 64px;
  --fs-850: 60px;
  --fs-800: 56px;
  --fs-750: 52px;
  --fs-700: 48px;
  --fs-650: 44px;
  --fs-600: 40px;
  --fs-550: 36px;
  --fs-500: 32px;
  --fs-450: 29px;
  --fs-400: 27px;
  --fs-300: 23px;
  --fs-200: 20px;
  --fs-150: 18px;
  --fs-100: 16px;
  --fs-50: 15px;
}

/* X CSS Variables X */

/* Utility Classes */

.cta-primary a {
  color: var(--clr-white);
  background-color: var(--clr-indigo-dye);
  text-decoration: none;
  padding: 20px 35px;
  font-size: var(--fs-200);
  font-family: var(--ff-heading);
  font-weight: 600;
  line-height: 100%;
  border-radius: 4px;
  text-align: center;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.cta-primary a svg {
  width: 24px;
  aspect-ratio: 1;
  fill: var(--clr-white);
}
.cta-primary a:hover {
  background-color: var(--clr-poppy);
}
@media screen and (max-width: 1024px) {
  .cta-primary a {
    padding: 17px 30px;
    font-size: var(--fs-150);
  }
}
@media screen and (max-width: 414px) {
  .cta-primary a {
    padding: 15px 27px;
    font-size: var(--fs-100);
  }
  .cta-primary a svg {
    width: 23px;
  }
}
@media screen and (max-width: 360px) {
  .cta-primary a svg {
    width: 20px;
  }
}
/* X Utility Classes X */

/* Main Section */

.main-section {
  display: block;
  background: var(--clr-bg-linear);
}

/* X Main Section X */

/* Header Section */
.header {
  width: 100%;
  border-bottom: 1px solid var(--clr-blk-900);
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 96px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.header-desktop-navigation {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.header-logo {
  display: flex;
  width: calc(20% - (64px / 3));
  justify-content: start;
}
.header-logo img {
  height: 80px;
  width: auto;
}
.header-nav-menu {
  display: flex;
  width: calc(60% - (64px / 3));
  justify-content: center;
  align-items: center;
}
.header-nav-menu ul {
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
  margin: 0;
  padding: 0;
}
.header-nav-menu ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-nav-menu ul li a {
  font-family: var(--ff-body);
  font-size: var(--fs-100);
  color: var(--clr-blk-800);
  line-height: 100%;
  font-weight: 400;
}
.header-nav-menu ul li a:hover {
  color: var(--clr-indigo-dye);
  text-decoration: none;
  font-weight: 600;
}
.header-cta {
  display: flex;
  width: calc(20% - (64px / 3));
  justify-content: end;
}
.header-cta a {
  padding: 16px 28px;
  font-size: var(--fs-100);
}
.header-mobile-navigation {
  display: none;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.header-mobile-navigation .header-logo {
  width: fit-content;
}
.header-nav-switch {
  display: block;
  width: fit-content;
  height: fit-content;
  z-index: 100;
  padding: 8px;
  background-color: white;
  border-radius: 1vmin;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 2px 0px;
}
.header-nav-switch svg {
  width: 32px;
  height: 32px;
  fill: var(--clr-blk-900);
  cursor: pointer;
}
.hns-opened {
  display: none;
}
.header-nav-switch:hover svg {
  fill: var(--clr-blk-800);
}
.header-nav-switch.active .hns-opened {
  display: block;
}
.header-nav-switch.active .hns-closed {
  display: none;
}
.header-nav-menu-m {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 80%;
  min-height: 100vh;
  background-color: #050100f2;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  backdrop-filter: blur(3px);
  transform: translateX(-100%);
  transition: cubic-bezier(0.17, 0.67, 1, 1);
  transition-duration: 0.3s;
  z-index: 99;
}
.header-nav-menu-m.active {
  display: flex;
  transform: translateX(0%);
}
.header-nav-menu-m ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  padding-top: 64px;
}
.header-nav-menu-m ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 16px 32px;
  border-bottom: 1px solid #ffffff4d;
}
.header-nav-menu-m ul li a {
  font-family: var(--ff-body);
  font-size: var(--fs-100);
  color: var(--clr-white);
  line-height: 100%;
  font-weight: 400;
}
.header-nav-menu-m .header-cta {
  width: 100%;
  justify-content: start;
  padding: 0 20px;
}
.header-nav-menu-m .header-cta a {
  font-size: var(--fs-100);
  padding: 16px 28px;
  width: 100%;
  margin-bottom: 24px;
}
@media screen and (max-width: 1024px) {
  .header-desktop-navigation {
    gap: 20px;
  }
  .header-logo {
    width: calc(20% - (40px / 3));
  }
  .header-nav-menu {
    width: calc(60% - (40px / 3));
  }
  .header-nav-menu ul li a {
    font-size: var(--fs-50);
  }
  .header-cta {
    width: calc(20% - (40px / 3));
  }
  .header-cta a {
    padding: 13px 24px;
    font-size: var(--fs-50);
  }
  .header-logo img {
    height: 72px;
  }
}
@media screen and (max-width: 810px) {
  .header-desktop-navigation {
    display: none;
  }
  .header-mobile-navigation {
    display: flex;
  }
}
@media screen and (max-width: 610px) {
  .header-container {
    width: 100%;
    padding: 0 16px;
    min-height: 64px;
  }
  .header-logo img {
    height: 56px;
  }
}
/* X Header Section X */

/* Hero Section */

.hero-section {
  display: block;
  width: 100%;
  padding: 64px 0;
}
.hero-section-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.hero-copy {
  width: calc(((5 / 12) * 100%) - 16px);
}
.hero-graphic {
  width: calc(((7 / 12) * 100%) - 16px);
}
.hero-copy h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-850);
  line-height: 125%;
  color: var(--clr-blk-900);
  margin: 0;
  margin-bottom: 20px;
}
.hero-copy h1 span {
  position: relative;
  display: block;
  width: fit-content;
}
.hero-copy h1 span i {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 24px;
  background: #d9373240;
}
.hero-copy p {
  font-family: var(--ff--body);
  font-size: var(--fs-200);
  line-height: 175%;
  color: var(--clr-blk-800);
  margin: 0;
  margin-bottom: 48px;
}
.hero-cta a {
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .hero-copy h1 {
    font-size: var(--fs-750);
  }
  .hero-copy p {
    font-size: var(--fs-150);
  }
}
@media screen and (max-width: 1280px) {
  .hero-copy {
    width: calc(((6 / 12) * 100%) - 16px);
  }
  .hero-graphic {
    width: calc(((6 / 12) * 100%) - 16px);
  }
  .hero-copy h1 {
    font-size: var(--fs-800);
  }
  .hero-copy p {
    font-size: var(--fs-150);
  }
}
@media screen and (max-width: 1216px) {
  .hero-copy h1 {
    font-size: var(--fs-700);
  }
  .hero-copy p {
    font-size: var(--fs-100);
  }
}
@media screen and (max-width: 1024px) {
  .hero-copy h1 {
    font-size: var(--fs-550);
  }
  .hero-copy p {
    font-size: var(--fs-50);
  }
}
@media screen and (max-width: 810px) {
  .hero-copy {
    width: calc(((12 / 12) * 100%) - 0px);
  }
  .hero-graphic {
    width: calc(((12 / 12) * 100%) - 0px);
  }
  .hero-copy h1 {
    font-size: var(--fs-700);
  }
  .hero-copy p {
    font-size: var(--fs-200);
  }
}
@media screen and (max-width: 610px) {
  .hero-copy h1 {
    font-size: var(--fs-600);
  }
  .hero-copy p {
    font-size: var(--fs-150);
  }
}
@media screen and (max-width: 414px) {
  .hero-copy h1 {
    font-size: var(--fs-550);
  }
  .hero-copy p {
    font-size: var(--fs-100);
  }
}
@media screen and (max-width: 390px) {
  .hero-copy h1 {
    font-size: var(--fs-500);
  }
  .hero-copy p {
    font-size: var(--fs-100);
  }
}
@media screen and (max-width: 360px) {
  .hero-copy p {
    font-size: var(--fs-50);
  }
}
@media screen and (max-width: 320px) {
  .hero-copy h1 {
    font-size: var(--fs-450);
  }
  .hero-copy p {
    font-size: var(--fs-50);
  }
}
/* X Hero Section X */

/* Services Section */

.services-section {
  width: 100%;
}
.services-section-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 48px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.services-copy,
.our-process-copy,
.about-us-copy,
.testimonials-copy,
.contact-copy,
.faqs-copy {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 592px;
}
.services-copy h2,
.our-process-copy h2,
.about-us-copy h2,
.testimonials-copy h2,
.contact-copy h2,
.faqs-copy h2 {
  font-family: var(--ff-heading);
  font-size: var(--fs-750);
  line-height: 125%;
  color: var(--clr-blk-900);
  margin: 0;
  margin-bottom: 10px;
}
.services-copy h2 span,
.our-process-copy h2 span,
.about-us-copy h2 span,
.testimonials-copy h2 span,
.contact-copy h2 span,
.faqs-copy h2 span {
  position: relative;
  display: inline-block;
  width: fit-content;
}
.services-copy h2 span i,
.our-process-copy h2 span i,
.about-us-copy h2 span i,
.testimonials-copy h2 span i,
.contact-copy h2 span i,
.faqs-copy h2 span i {
  position: absolute;
  bottom: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 24px;
  background: #d9373240;
}
.services-copy p,
.our-process-copy p,
.about-us-copy p,
.testimonials-copy p,
.contact-copy p,
.faqs-copy p {
  font-family: var(--ff--body);
  font-size: var(--fs-200);
  line-height: 175%;
  color: var(--clr-blk-800);
  margin: 0;
}
.services-cta {
  display: flex;
  width: 100%;
}
.services-cta-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.services-cta-container a {
  color: var(--clr-indigo-dye);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-indigo-dye);
  text-decoration: none;
  padding: 16px 28px;
  font-size: var(--fs-100);
  font-family: var(--ff-heading);
  font-weight: 600;
  line-height: 100%;
  border-radius: 128px;
  text-align: center;
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 16px;
  transition: 0.3s linear;
  cursor: pointer;
}
.services-cta-container a:hover {
  color: var(--clr-white);
  background-color: var(--clr-indigo-dye);
}
.services-cta-container a.active {
  color: var(--clr-white);
  background-color: var(--clr-indigo-dye);
}
.services-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 32px;
}
.services-content-container.active {
  display: flex;
}
.services-content-container {
  display: none;
  flex-flow: row wrap;
  align-items: center;
  padding: 64px;
  width: 100%;
  gap: 32px;
  background-color: #d9373240;
  border-radius: 48px;
}
.services-content-container:nth-of-type(1) {
  background-color: #d5960140;
}
.services-content-container:nth-of-type(2) {
  background-color: #c8451e40;
}
.services-content-container:nth-of-type(3) {
  background-color: #00947640;
}
.services-content-container:nth-of-type(4) {
  background-color: #5124d640;
}
.services-content-copy,
.services-graphic {
  width: calc(50% - 16px);
}
.services-content-copy h3 {
  font-family: var(--ff-heading);
  font-size: var(--fs-600);
  line-height: 125%;
  color: var(--clr-blk-900);
  margin: 0;
  margin-bottom: 8px;
}
.services-desc p {
  font-family: var(--ff-body);
  font-size: var(--fs-200);
  line-height: 175%;
  color: var(--clr-blk-600);
  font-weight: 300;
  margin: 0;
}
.services-desc ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  margin: 0;
  margin: 20px 0;
}
.services-desc ul li {
  font-family: var(--ff-body);
  font-size: var(--fs-200);
  line-height: 175%;
  color: var(--clr-blk-800);
  margin: 0;
  width: 100%;
}
.services-cta.cta-primary {
  width: 100%;
  margin-top: 32px;
}
.services-graphic {
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (max-width: 1280px) {
  .services-section-container {
    gap: 40px;
  }
  .services-copy h2,
  .our-process-copy h2,
  .about-us-copy h2,
  .testimonials-copy h2,
  .contact-copy h2,
  .faqs-copy h2 {
    font-size: var(--fs-700);
  }
  .services-copy p,
  .our-process-copy p,
  .about-us-copy p,
  .testimonials-copy p,
  .contact-copy p,
  .faqs-copy p {
    font-size: var(--fs-200);
  }
  .services-cta-container a {
    padding: 14px 25px;
    font-size: var(--fs-100);
  }
  .services-content-copy h3 {
    font-size: var(--fs-550);
  }
  .services-desc p {
    font-size: var(--fs-100);
  }
  .services-desc ul li {
    font-size: var(--fs-100);
  }
}
@media screen and (max-width: 1216px) {
  .services-copy h2,
  .our-process-copy h2,
  .about-us-copy h2,
  .testimonials-copy h2,
  .contact-copy h2,
  .faqs-copy h2 {
    font-size: var(--fs-650);
  }
  .services-copy p,
  .our-process-copy p,
  .about-us-copy p,
  .testimonials-copy p,
  .contact-copy p,
  .faqs-copy p {
    font-size: var(--fs-100);
  }
  .services-cta-container a {
    padding: 13px 23px;
    font-size: var(--fs-100);
  }
  .services-content-copy h3 {
    font-size: var(--fs-500);
  }
}
@media screen and (max-width: 1024px) {
  .services-content-container {
    padding: 48px;
  }
  .services-content-copy h3 {
    font-size: var(--fs-500);
  }
  .services-desc p {
    font-size: var(--fs-100);
  }
  .services-desc ul {
    margin: 16px 0;
  }
  .services-desc ul li {
    font-size: var(--fs-100);
  }
  .services-copy,
  .our-process-copy,
  .about-us-copy,
  .testimonials-copy,
  .contact-copy,
  .faqs-copy {
    max-width: 100%;
  }
  .services-copy h2,
  .our-process-copy h2 {
    font-size: var(--fs-650);
  }
  .services-copy p,
  .our-process-copy p,
  .about-us-copy p,
  .testimonials-copy p,
  .contact-copy p,
  .faqs-copy p {
    font-size: var(--fs-200);
  }
}
@media screen and (max-width: 810px) {
  .services-content-copy,
  .services-graphic {
    width: calc(100%);
  }
  .services-section-container {
    gap: 32px;
  }
  .services-cta-container a {
    font-size: var(--fs-50);
  }
}
@media screen and (max-width: 768px) {
  .services-copy h2,
  .our-process-copy h2,
  .about-us-copy h2,
  .testimonials-copy h2,
  .contact-copy h2,
  .faqs-copy h2 {
    font-size: var(--fs-600);
  }
  .services-copy p,
  .our-process-copy p,
  .about-us-copy p,
  .testimonials-copy p,
  .contact-copy p,
  .faqs-copy p {
    font-size: var(--fs-100);
  }
}
@media screen and (max-width: 610px) {
  .services-content-container {
    border-radius: 20px;
  }
  .services-copy h2,
  .our-process-copy h2,
  .about-us-copy h2,
  .testimonials-copy h2,
  .contact-copy h2,
  .faqs-copy h2 {
    font-size: var(--fs-550);
  }
  .services-cta-container a {
    padding: 11px 21px;
    font-size: 14px;
  }
  .services-content-container {
    padding: 32px;
  }
  .services-content-copy h3 {
    font-size: var(--fs-450);
  }
  .services-desc p {
    font-size: var(--fs-50);
  }
  .services-desc ul {
    margin: 16px 0;
  }
  .services-desc ul li {
    font-size: var(--fs-50);
  }
}
@media screen and (max-width: 414px) {
  .services-copy h2,
  .our-process-copy h2,
  .about-us-copy h2,
  .testimonials-copy h2,
  .contact-copy h2,
  .faqs-copy h2 {
    font-size: var(--fs-500);
  }
  .services-cta-container a {
    padding: 10px 16px;
    font-size: 14px;
  }
  .services-desc ul {
    margin: 12px 0;
  }
  .services-content-container {
    padding: 32px 24px;
  }
}
@media screen and (max-width: 390px) {
  .services-cta-container {
    gap: 8px;
  }
  .services-copy h2,
  .our-process-copy h2,
  .about-us-copy h2,
  .testimonials-copy h2,
  .contact-copy h2,
  .faqs-copy h2 {
    font-size: var(--fs-450);
  }
  .services-cta-container a {
    font-size: 13px;
  }
  .services-content-copy h3 {
    font-size: var(--fs-400);
  }
  .services-desc p {
    font-size: 14px;
  }
  .services-desc ul li {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .services-copy h2,
  .our-process-copy h2,
  .about-us-copy h2,
  .testimonials-copy h2,
  .contact-copy h2,
  .faqs-copy h2 {
    font-size: var(--fs-400);
  }
  .services-copy p,
  .our-process-copy p,
  .about-us-copy p,
  .testimonials-copy p,
  .contact-copy p {
    font-size: var(--fs-50);
  }
  .services-cta-container a {
    font-size: 12px;
  }
  .services-content-copy h3 {
    font-size: var(--fs-300);
  }
}
@media screen and (max-width: 320px) {
  .services-cta-container a {
    font-size: 12px;
  }
}
/* X Services Section X */

/* Our Process Section */
.our-process-section {
  width: 100%;
}
.our-process-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.our-process-copy {
  text-align: center;
}
.our-process-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 24px;
}
.our-process-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.our-process-icon {
  width: 64px;
  height: 64px;
  border: 1px solid var(--clr-blk-900);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-process-icon p {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
  line-height: 100%;
  margin: 0;
}
.our-process-step h4 {
  font-family: var(--ff-body);
  font-size: var(--fs-200);
  color: var(--clr-blk-600);
  font-weight: 400;
  line-height: 100%;
  margin: 0;
}
.our-process-seperator {
  min-width: 40px;
  min-height: 1px;
  background-color: var(--clr-blk-900);
  margin-bottom: 40px;
}
@media screen and (max-width: 1280px) {
  .our-process-icon {
    width: 56px;
    height: 56px;
  }
  .our-process-seperator {
    margin-bottom: 28px;
  }
  .our-process-icon p {
    font-size: var(--fs-200);
  }
  .our-process-step h4 {
    font-size: var(--fs-150);
  }
}
@media screen and (max-width: 1024px) {
  .our-process-seperator {
    min-width: 32px;
    min-height: 1px;
    background-color: var(--clr-blk-900);
    margin-bottom: 28px;
  }
}
@media screen and (max-width: 810px) {
  .our-process-seperator {
    display: none;
  }
  .our-process-content {
    gap: 40px;
  }
}
@media screen and (max-width: 610px) {
  .our-process-content {
    justify-content: space-evenly;
  }
  .our-process-icon p {
    font-size: var(--fs-150);
  }
  .our-process-step h4 {
    font-size: var(--fs-100);
  }
}

/* X Our Process Section X */

/* About Us Section */

.about-us-section {
  width: 100%;
}
.about-us-section-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 32px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.about-us-copy,
.about-us-graphic {
  width: calc(50% - 16px);
}
.about-us-graphic img {
  width: 100%;
  aspect-ratio: 8 / 10;
  object-fit: cover;
}
.about-us-graphic,
.about-us-graphic img {
  min-height: 100%;
}
.about-us-copy .featured-text {
  font-family: var(--ff-heading);
  font-weight: bold;
  color: var(--clr-poppy);
}
.about-us-copy ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  margin: 0;
  padding: 0;
  margin: 20px 0;
}
.about-us-copy ul li {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 12px;
  align-items: center;
  list-style: none;
}
.about-us-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #143d6619;
  width: 32px;
  aspect-ratio: 1;
  border-radius: 4px;
}
.about-us-list-icon svg {
  width: 16px;
  aspect-ratio: 1;
  fill: var(--clr-indigo-dye);
}
.about-us-copy ul li p {
  width: calc(100% - 32px - 12px);
  line-height: 125%;
}

@media screen and (max-width: 810px) {
  .about-us-section-container {
    flex-direction: column-reverse;
  }
  .about-us-copy,
  .about-us-graphic {
    width: calc(100%);
  }
}
@media screen and (max-width: 610px) {
  .about-us-list-icon {
    width: 28px;
  }
  .about-us-list-icon svg {
    width: 14px;
  }
  .about-us-copy ul li p {
    width: calc(100% - 28px - 12px);
  }
}
/* X About Us Section X */

/* Testimonials Section */

.testimonials-section {
  width: 100%;
}
.testimonials-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.testimonials-copy {
  text-align: center;
}
.testimonials-content {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
  gap: 32px;
  width: 100%;
}
.testimonials-card {
  width: calc((100% / 3) - (64px / 3));
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 32px;
  border-radius: 8px;
  background-color: #143d6619;
}
.testimonials-card-2x {
  width: calc((100% / 1.5) - (64px / 3));
}
.testimonials-card-2x .testimonial-card-content p {
  font-size: var(--fs-150);
}
.testimonial-card-info {
  display: flex;
  width: 100%;
  gap: 16px;
  flex-flow: row wrap;
  align-items: center;
}
.tci-profile {
  width: 56px;
  height: 56px;
  border-radius: 64px;
  overflow: hidden;
}
.tci-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tci-name {
  width: calc(100% - 56px - 24px - (16px * 2));
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.tci-name h6 {
  font-size: var(--fs-200);
  font-family: var(--ff-heading);
  font-weight: 700;
  color: var(--clr-blk-900);
  line-height: 100%;
  margin: 0;
  padding: 0;
}
.tci-name a {
  font-size: var(--fs-100);
  font-family: var(--ff-body);
  font-weight: 600;
  color: var(--clr-indigo-dye);
  line-height: 100%;
  margin: 0;
  padding: 0;
}
.tci-url {
  display: flex;
  width: 24px;
  height: 24px;
}
.tci-url svg {
  width: 100%;
  height: 100%;
  fill: var(--clr-blk-600);
}
.tci-url:hover svg {
  fill: var(--clr-blk-800);
}
.testimonial-card-content {
  width: 100%;
}
.testimonial-card-content p {
  font-size: var(--fs-100);
  font-family: var(--ff-body);
  line-height: 175%;
  font-weight: 400;
  color: var(--clr-blk-600);
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 1280px) {
  .testimonials-card {
    width: calc((100% / 3) - (64px / 3));
  }
  .testimonials-card-2x {
    width: calc((100% / 1.5) - (64px / 3));
  }
  .testimonials-card-2x .testimonial-card-content p {
    font-size: var(--fs-150);
  }
  .tci-profile {
    width: 56px;
    height: 56px;
  }
  .tci-name {
    width: calc(100% - 56px - 24px - (16px * 2));
  }
  .tci-name h6 {
    font-size: var(--fs-200);
  }
  .tci-name a {
    font-size: var(--fs-100);
  }
  .tci-url {
    width: 24px;
    height: 24px;
  }
  .testimonial-card-content p {
    font-size: var(--fs-100);
  }
}
@media screen and (max-width: 1280px) {
  .testimonials-card-2x .testimonial-card-content p {
    font-size: var(--fs-100);
  }
  .tci-profile {
    width: 48px;
    height: 48px;
  }
  .tci-name {
    width: calc(100% - 48px - 20px - (16px * 2));
  }
  .tci-name h6 {
    font-size: var(--fs-150);
  }
  .tci-name a {
    font-size: var(--fs-50);
  }
  .tci-url {
    width: 20px;
    height: 20px;
  }
  .testimonial-card-content p {
    font-size: var(--fs-50);
  }
}
@media screen and (max-width: 1216px) {
  .testimonials-card-2x .testimonial-card-content p {
    font-size: var(--fs-50);
  }
  .tci-profile {
    width: 40px;
    height: 40px;
  }
  .tci-name {
    width: calc(100% - 40px - 20px - (16px * 2));
  }
  .tci-name h6 {
    font-size: var(--fs-100);
  }
  .tci-name a {
    font-size: 13px;
  }
  .tci-url {
    width: 20px;
    height: 20px;
  }
  .testimonial-card-content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .testimonials-card {
    width: calc((100% / 2) - (32px / 2));
  }
  .tci-profile {
    width: 48px;
    height: 48px;
  }
  .tci-name {
    width: calc(100% - 48px - 20px - (16px * 2));
  }
  .tci-name h6 {
    font-size: var(--fs-150);
  }
  .tci-name a {
    font-size: var(--fs-50);
  }
  .tci-url {
    width: 20px;
    height: 20px;
  }
  .testimonials-card-2x .testimonial-card-content p,
  .testimonial-card-content p {
    font-size: var(--fs-50);
  }
}
@media screen and (max-width: 910px) {
  .tci-profile {
    width: 40px;
    height: 40px;
  }
  .tci-name {
    width: calc(100% - 40px - 20px - (16px * 2));
  }
  .tci-name h6 {
    font-size: var(--fs-100);
  }
  .tci-name a {
    font-size: 14px;
  }
  .tci-url {
    width: 20px;
    height: 20px;
  }
  .testimonials-card-2x .testimonial-card-content p,
  .testimonial-card-content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .testimonials-card {
    padding: 20px;
  }
  .tci-profile {
    width: 32px;
    height: 32px;
  }
  .tci-name {
    width: calc(100% - 32px - 16px - (16px * 2));
  }
  .tci-name h6 {
    font-size: var(--fs-50);
  }
  .tci-name a {
    font-size: 13px;
  }
  .tci-url {
    width: 16px;
    height: 16px;
  }
  .testimonials-card-2x .testimonial-card-content p,
  .testimonial-card-content p {
    font-size: 13px;
  }
}
@media screen and (max-width: 610px) {
  .testimonials-card {
    width: calc(100%);
  }
  .tci-profile {
    width: 40px;
    height: 40px;
  }
  .tci-name {
    width: calc(100% - 40px - 20px - (16px * 2));
  }
  .tci-name h6 {
    font-size: var(--fs-100);
  }
  .tci-name a {
    font-size: 14px;
  }
  .tci-url {
    width: 20px;
    height: 20px;
  }
  .testimonials-card-2x .testimonial-card-content p,
  .testimonial-card-content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 414px) {
  .tci-profile {
    width: 36px;
    height: 36px;
  }
  .tci-name {
    width: calc(100% - 36px - 18px - (16px * 2));
  }
  .tci-name h6 {
    font-size: var(--fs-100);
  }
  .tci-name a {
    font-size: 14px;
  }
  .tci-url {
    width: 18px;
    height: 18px;
  }
  .testimonials-card-2x .testimonial-card-content p,
  .testimonial-card-content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 360px) {
  .tci-profile {
    width: 32px;
    height: 32px;
  }
  .tci-name {
    width: calc(100% - 32px - 16px - (16px * 2));
  }
  .tci-name h6 {
    font-size: var(--fs-50);
  }
  .tci-name a {
    font-size: 13px;
  }
  .tci-url {
    width: 16px;
    height: 16px;
  }
  .testimonials-card-2x .testimonial-card-content p,
  .testimonial-card-content p {
    font-size: 13px;
  }
}
/* X Testimonials Section X */

/* Contact Us Section */

.contact-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
.contact-section-container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.contact-copy--parent {
  display: flex;
  flex-flow: row wrap;
  align-items: end;
  justify-content: space-between;
  gap: 32px;
  width: 100%;
}
.contact-copy {
  max-width: 800px;
}
.contact-cta {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}
.contact-content {
  width: 100%;
  padding: 64px 0;
  background: var(--clr-bg-linear-revert);
}
.contact-content-container {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  justify-content: space-between;
  gap: 32px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.contact-form {
  width: calc(100% * (6 / 12) - 16px);
}
.contact-info {
  width: calc(100% * (5 / 12) - 16px);
}
.contact-form form {
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
  width: 100%;
}
.contact-form-field {
  position: relative;
  width: fit-content;
  height: fit-content;
  width: 100%;
}
.contact-form-field label,
.contact-form-textarea label {
  font-size: var(--fs-100);
  font-family: var(--ff-body);
  color: var(--clr-black-600);
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s all;
  left: 20px;
  margin: 0;
  padding: 0;
}
.contact-form-input:not(:nth-of-type(5)) {
  width: calc(50% - 16px);
}
.contact-form-field input,
.contact-form-textarea textarea {
  margin: 0;
  padding: 0;
}
.contact-form-input input,
.contact-form-textarea textarea {
  font-size: var(--fs-100);
  font-family: var(--ff-heading);
  color: var(--clr-blk-800);
  border: 0;
  border-bottom: 1px solid var(--clr-indigo-dye);
  border-radius: 0;
  width: 100%;
  height: auto;
  padding: 14px 16px;
  appearance: none;
  resize: none;
}
.contact-form-input input:focus,
.contact-form-textarea textarea {
  box-shadow: none;
}
.contact-form-input input:focus + label,
.contact-form-input input:valid + label,
.contact-form-textarea textarea:focus + label,
.contact-form-textarea textarea:valid + label {
  font-size: 13px;
  top: 0;
  left: 14px;
}
.contact-form-textarea label {
  top: 24px;
}
.contact-form-button input {
  color: var(--clr-white);
  background-color: var(--clr-indigo-dye);
  text-decoration: none;
  font-size: var(--fs-200);
  font-family: var(--ff-heading);
  font-weight: 600;
  line-height: 100%;
  border-radius: 4px;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.contact-form-button:hover input {
  background-color: var(--clr-poppy);
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contact-info-copy {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.contact-info-copy h5 {
  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  line-height: 125%;
  color: var(--clr-blk-900);
  margin: 0;
}
.contact-info-copy p {
  font-family: var(--ff--body);
  font-size: var(--fs-200);
  line-height: 175%;
  color: var(--clr-blk-800);
  margin: 0;
}
.contact-info p a {
  color: var(--clr-poppy);
  text-decoration: underline;
}
.contact-info p a:hover {
  color: var(--clr-poppy);
  text-decoration: none;
}
.contact-info-copy p br {
  display: block;
  content: " ";
  margin: 4px 0;
}
.contact-info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
}
.contact-info-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-info-list li a {
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
  gap: 12px;
  align-items: start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-info-list li:not(:nth-child(3)) a {
  text-decoration: underline;
}
.contact-info-list li a:hover {
  text-decoration: none;
}
.contact-info-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #143d6619;
  width: 32px;
  aspect-ratio: 1;
  border-radius: 4px;
  margin-top: 3px;
}
.contact-info-list-icon svg {
  width: 16px;
  aspect-ratio: 1;
  fill: var(--clr-indigo-dye);
}
.contact-info-list li a p {
  width: calc(100% - 32px - 12px);
  line-height: 125%;
  font-family: var(--ff--body);
  font-size: var(--fs-200);
  line-height: 175%;
  color: var(--clr-blk-800);
  margin: 0;
}
@media screen and (max-width: 1280px) {
  .contact-info-copy h5 {
    font-size: var(--fs-450);
  }
  .contact-info-copy p,
  .contact-info-list li a p {
    font-size: var(--fs-150);
  }
}
@media screen and (max-width: 1216px) {
  .contact-cta {
    display: none;
  }
  .contact-info {
    width: calc(100% * (6 / 12) - 16px);
  }
  .contact-info-copy h5 {
    font-size: var(--fs-400);
  }
  .contact-info-copy p,
  .contact-info-list li a p {
    font-size: var(--fs-100);
  }
}
@media screen and (max-width: 1024px) {
  .contact-info-copy h5 {
    font-size: var(--fs-350);
  }
  .contact-info-copy p,
  .contact-info-list li a p {
    font-size: var(--fs-50);
  }
  .contact-form-field label,
  .contact-form-textarea label {
    left: 14px;
    font-size: var(--fs-50);
  }
  .contact-form-input input:focus + label,
  .contact-form-input input:valid + label,
  .contact-form-textarea textarea:focus + label,
  .contact-form-textarea textarea:valid + label {
    font-size: 13px;
    top: 0;
    left: 10px;
  }
  .contact-form-input input,
  .contact-form-textarea textarea {
    font-size: var(--fs-50);
    padding: 10px 14px;
  }
  .contact-form-button input {
    font-size: var(--fs-150);
  }
}
@media screen and (max-width: 810px) {
  .contact-content {
    padding: 32px 0;
  }
  .contact-form,
  .contact-info {
    width: 100%;
  }
  .contact-info-copy h5 {
    font-size: var(--fs-450);
  }
  .contact-info-copy p,
  .contact-info-list li a p {
    font-size: var(--fs-150);
  }
}
@media screen and (max-width: 610px) {
  .contact-info-copy h5 {
    font-size: var(--fs-400);
  }
  .contact-info-copy p,
  .contact-info-list li a p {
    font-size: var(--fs-100);
  }
  .contact-form-input input,
  .contact-form-textarea textarea {
    font-size: var(--fs-50);
    padding: 11px 12px;
  }
  .contact-form-field label,
  .contact-form-textarea label {
    left: 12px;
    font-size: 14px;
  }
  .contact-form-input input:focus + label,
  .contact-form-input input:valid + label,
  .contact-form-textarea textarea:focus + label,
  .contact-form-textarea textarea:valid + label {
    font-size: 12px;
    top: 0;
    left: 8px;
  }
  .contact-form-button input {
    font-size: var(--fs-100);
  }
}
@media screen and (max-width: 414px) {
  .contact-form-input:not(:nth-of-type(5)) {
    width: 100%;
  }
  .contact-info-copy h5 {
    font-size: var(--fs-400);
  }
  .contact-info-copy p,
  .contact-info-list li a p {
    font-size: var(--fs-50);
  }
}
@media screen and (max-width: 360px) {
  .contact-info-copy h5 {
    font-size: var(--fs-300);
  }
  .contact-info-copy p,
  .contact-info-list li a p {
    font-size: var(--fs-50);
  }
}
/* X Contact Us Section X */

/* FAQs Section */

.faqs-section {
  width: 100%;
}
.faqs-section-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.faqs-copy {
  text-align: center;
}
.faqs-content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
}
.faqs-accordion {
  display: flex;
  flex-flow: column;
  align-items: start;
  width: calc(50% - 16px);
  gap: 32px;
  margin: 0;
  padding: 0;
}

.faqs-accordion li {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #143d6619;
  width: 100%;
  margin: 0;
  padding: 16px 24px;
}
.faqs-accordion li label {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.faqs-accordion li label h6 {
  font-family: var(--ff-heading);
  font-size: var(--fs-150);
  line-height: 175%;
  color: var(--clr-blk-900);
  font-weight: bold;
  margin: 0;
  width: calc(100% - 24px - 16px);
}
.faqs-accordion li label span {
  display: flex;
  width: 16px;
  height: 16px;
}
.faqs-accordion li label span svg {
  fill: var(--clr-indigo-dye);
  width: 100%;
  height: 100%;
}
.faqs-accordion-content {
  padding: 24px 0px 0px 24px;
  position: relative;
  transition: 0.3s;
}
.faqs-accordion-content::after {
  display: block;
  position: absolute;
  top: 35px;
  left: 0;
  content: " ";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--clr-poppy);
}
.faqs-accordion-content p {
  font-family: var(--ff--body);
  font-size: var(--fs-150);
  line-height: 175%;
  color: var(--clr-blk-600);
  margin: 0;
}
.faqs-accordion li input[type="radio"] {
  display: none;
}

.faqs-accordion li input ~ .faqs-accordion-content {
  display: none;
}
.faqs-accordion li input:checked ~ .faqs-accordion-content {
  display: block;
}
.faqs-accordion li input:checked ~ label span {
  transform: rotate(180deg);
}
@media screen and (max-width: 1280px) {
  .faqs-accordion li label h6 {
    font-size: var(--fs-100);
  }
  .faqs-accordion-content p {
    font-size: var(--fs-100);
  }
}
@media screen and (max-width: 1216px) {
  .faqs-accordion li {
    padding: 14px 20px;
  }
  .faqs-accordion li label span {
    width: 14px;
    height: 14px;
  }
  .faqs-accordion li label h6 {
    width: calc(100% - 24px - 14px);
  }
  .faqs-accordion-content {
    padding: 20px 0px 0px 20px;
    position: relative;
    transition: 0.3s;
  }
  .faqs-accordion li label h6 {
    font-size: var(--fs-50);
  }
  .faqs-accordion-content p {
    font-size: var(--fs-50);
  }
}
@media screen and (max-width: 1024px) {
  .faqs-accordion li label h6 {
    font-size: 14px;
  }
  .faqs-accordion-content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 810px) {
  .faqs-accordion {
    width: 100%;
  }
  .faqs-accordion li label h6 {
    font-size: var(--fs-100);
  }
  .faqs-accordion-content p {
    font-size: var(--fs-100);
  }
}
@media screen and (max-width: 610px) {
  .faqs-accordion li label h6 {
    font-size: var(--fs-50);
  }
  .faqs-accordion-content p {
    font-size: var(--fs-50);
  }
}
@media screen and (max-width: 414px) {
  .faqs-accordion li label h6 {
    font-size: 14px;
  }
  .faqs-accordion-content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 390px) {
  .faqs-accordion-content p {
    font-size: 13px;
  }
}
/* X FAQs Section X */

/* Footer Section */

.footer-section {
  width: 100%;
}
.footer-section-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 48px;
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
.footer-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
}
.footer-info-links,
.footer-info-cta {
  width: calc(50% - 16px);
}
.footer-info-links {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  gap: 32px;
}
.footer-info-links-col {
  width: calc(50% - 16px);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-info-links-col h6 {
  font-family: var(--ff-body);
  font-size: var(--fs-100);
  line-height: 125%;
  color: var(--clr-blk-600);
  font-weight: 400;
  margin: 0;
}
.footer-info-links-col ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}
.footer-info-links-col ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-info-links-col ul li,
.footer-info-links-col ul li a {
  font-size: var(--fs-100);
  font-family: var(--ff-heading);
  color: var(--clr-blk-900);
  font-weight: 600;
  line-height: 175%;
}
.footer-info-cta {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 96px 64px;
  background-color: #d93732bf;
}
.footer-info-cta-copy {
  font-size: var(--fs-300);
  font-family: var(--ff-heading);
  color: var(--clr-white);
  line-height: 125%;
  font-weight: 500;
}
.footer-info-cta-btn a {
  color: var(--clr-white);
  background-color: transparent;
  text-decoration: none;
  padding: 16px 28px;
  font-size: var(--fs-200);
  font-family: var(--ff-heading);
  font-weight: 600;
  line-height: 100%;
  border-radius: 64px;
  text-align: center;
  border: 2px solid var(--clr-white);
}
.footer-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  width: 100%;
  padding: 48px 0;
  border-top: 1px solid var(--clr-blk-600);
}
.footer-links p {
  width: calc(50% - 16px);
  font-size: var(--fs-100);
  font-family: var(--ff-body);
  color: var(--clr-blk-900);
  text-align: start;
  font-weight: 400;
}
.footer-links p a {
  color: var(--clr-indigo-dye);
}
.footer-links .fl-credits {
  text-align: end;
}

@media screen and (max-width: 1280px) {
  .footer-info-links-col h6 {
    font-size: var(--fs-50);
  }
  .footer-info-links-col ul li,
  .footer-info-links-col ul li a {
    font-size: var(--fs-50);
  }
  .footer-info-cta {
    padding: 64px 48px;
  }
  .footer-info-cta-copy {
    font-size: var(--fs-200);
  }
  .footer-info-cta-btn a {
    padding: 13px 24px;
    font-size: var(--fs-150);
  }
  .footer-links {
    padding: 48px 0;
    padding-bottom: 24px;
  }
  .footer-links p {
    font-size: var(--fs-50);
  }
}
@media screen and (max-width: 1024px) {
  .footer-info-cta-copy {
    font-size: var(--fs-150);
  }
}
@media screen and (max-width: 810px) {
  .footer-info-links,
  .footer-info-cta {
    width: 100%;
  }
  .footer-info-cta {
    display: none;
  }
}
@media screen and (max-width: 610px) {
  .footer-links {
    gap: 0;
  }
  .footer-links p {
    width: 100%;
    font-size: 14px;
  }
  .footer-links .fl-credits {
    text-align: start;
  }
}
@media screen and (max-width: 414px) {
  .footer-info-links-col h6 {
    font-size: 14px;
  }
  .footer-info-links-col ul li,
  .footer-info-links-col ul li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 390px) {
  .footer-info-links-col h6 {
    font-size: 13px;
  }
  .footer-info-links-col ul li,
  .footer-info-links-col ul li a {
    font-size: 13px;
  }
  .footer-links p {
    font-size: 13px;
  }
}
@media screen and (max-width: 360px) {
  .footer-info-links {
    gap: 20px;
  }
  .footer-info-links-col {
    width: calc(50% - 10px);
  }
  .footer-info-links-col h6 {
    font-size: 12px;
  }
  .footer-info-links-col ul li,
  .footer-info-links-col ul li a {
    font-size: 12px;
  }
}
/* X Footer Section X */
